@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Oleo+Script+Swash+Caps:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 16px;
}

:root{
    --ff-mont:'Montserrat', sans-serif;
    --ff-oleo:'Oleo Script Swash Caps', cursive;

    --clr-main:#35A2CE;
    --clr-white:#FFFFFF;
--clr-dark-blue:#110c46;

}


body{
    font-family: var(--ff-mont);
    background-color: var(--clr-white);
    color: var(--clr-dark-blue);
   
}

img {
    width: 50%;
    height: auto;
}

li{
    list-style: none;
    
}
a {
    text-decoration: none;
}
.btn {
    padding: 0.8rem 1.25rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    margin: 1rem;
    color: var(--clr-white);
    background-color: var(--clr-main);
    border: 2px var(--clr-main);
}
.btn:hover {
    background-color: transparent;
    color: var(--clr-dark-blue);
    border: var(--clr-dark-blue);
    cursor: pointer;
}
.btn-style {
    font-family: var(--ff-mont);
}
hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);

}

.section-center {
    padding: 3rem 0;
    width: 80%;
    margin: auto;
}
.section-title {
    height: 2.2rem;
    font-weight: 900;
    color: var(--clr-main);
    margin: 0.5rem auto;
    text-align: center;
}
.underline {
    width: 10%;
    margin: 0.5rem auto;
    height: 0.5rem;
    background-color: var(--clr-main);
}

/*header*/

.header {
    height: 85vh;
}

.navbar {
    height: 5rem;
    background-color: var(--clr-main);
    color: var(--clr-white);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 2.5rem;
    font-family: var(--ff-oleo);
    font-weight: 700;
    text-shadow: 2px 2px 5px #110c46 ;
}

.list-container {
    display: flex;
}
.list-item {
    margin: 1rem;
}

.list-link {
    font-size: 1.5rem;
    color: var(--clr-white);
    font-weight: 700;
    margin: 1rem; 
}

.list-link:hover {
    color: var(--clr-dark-blue);
}



.hero-section {
    width: 80%;
    margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: calc(85vh - 5rem);
}

.hero-title {
    font-size: 3rem;

}

.hero-title span{
    color: var(--clr-main);
    font-weight: 900;
}
.hero-description {
    font-size: 1.25rem;
    width: 90%;
    margin: 1.25rem 0;
}
.contact-link-container{
    display: flex;
    align-items: center;
    min-height: 2rem;
}
.contact-item {
margin: 0 1rem;
font-weight:600;
color: var(--clr-main);
}
.contact-link {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--clr-main);
}

.contact-link:hover{
    color: var(--clr-dark-blue);

}
.hero-img-container{
    width: 25rem;
    height:15rem;
   
 
}
.hero-img-container img {
    border-radius: 50%;
    width: 80%;
}

/*skills*/
.skill-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}
.skill-list-item {
    width: 10rem;
    height: 10rem;
    background-color: var(--clr-white);
    box-shadow: 4px 3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 1.25rem;
}
.skill-icon {
    margin: 0.5rem;
    height: 100%;
    width: 100%;
}
/* proeject section */
.project-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
    }
    .project-list-item {
        width: 22rem;
        height: 20rem;
        border-radius: 10px;
        border: 2px solid var(--clr-dark-blue);
        transition: all 0.3s ease;
    }
    
    .project-list-item:hover {
        transform: scale(1.05);
    }
  .code-img{
    width: 20rem;
    height: 12rem;
    border-radius: 10px;
   margin: 0.75rem;
  }
  .project-btn-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
  }
  .btn-code{
    color: var(--clr-white);
    background-color: var(--clr-dark-blue);
    border: 2px var(--clr-dark-blue);
}
.btn-code-outline{
color: var(--clr-dark-blue);
background-color: transparent;
border: 2px solid var(--clr-dark-blue);
}
.btn-code-outline:hover{
    color: var(--clr-white);
    background-color: var(--clr-main);
    border: 2px var(--clr-main);
}
.blog-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
    }
    .blog-list-item{
        width: 30rem;
        min-height: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius:10px ;
        border: 2px solid var(--clr-dark-blue);
    }
    .blogs-img-container img {
        width:7.5rem;
        min-height: 8rem;
        margin-right:1rem;
        margin-left:1rem;
        border-radius: 10px;
    }
    .blog-details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 8rem;
    }
    .blog-details .btn{
        margin: auto;
    }
    .footer{
display: flex;
flex-direction: column;
align-items:center ;
justify-content: center;
gap: 1rem;
min-height: 5rem;
padding: 2rem;
background-color: var(--clr-dark-blue);
    }
    .footer p{
        font-size: 1.25rem;
        font-weight: 900;
        color: var(--clr-white);
    }
  

@media screen and (max-width: 768px) {

    .navbar {
        flex-direction: column;
        justify-content: space-between;
    }
   
    .logo {
        font-size: 1.5rem;
    }
    .list-link {
        font-size: 1.25rem;
    }
    .hero-section {
        flex-direction: column;
        text-align: center;
    }
    .hero-title {
        font-size: 2.25rem;
        margin-top: 1rem;
    }
    .hero-description {
        font-size: 1rem;
    }
    .hero-img-container{
        display: none;
    }
    .contact-link-container {
        justify-content: center;
        margin-bottom: 1rem;

    }
    .project-list-item{
        height: 22rem;
    }
   
    .project-btn-container{
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1.25rem;
    }
    
    .project-btn-container .btn{
        margin: 0.25rem auto;
    }
    .blog-details {
        height: 10rem;
    }
    .blog-list-item{
        text-align: center;
    }
    .blog-list-item img{
        display: none;
    }
    .blog-btn-container{
        margin: 1rem auto;
    }
}
